<div class="content-item h-entry mb-8">

{% if not hero_image_name %}
    <div class="content-title text-center mb-6">
        {% include 'partials/blog/title.html.twig' with {title_level: 'h2'} %}
        {% if page.header.subtitle %}
        <h3 class="text-xl text-gray-600 dark:text-gray-400 mt-2">{{ page.header.subtitle }}</h3>
        {% endif %}
        {% include 'partials/blog/date.html.twig' %}
        {% include 'partials/blog/taxonomy.html.twig' %}
    </div>
{% endif %}
    <div class="e-content prose dark:prose-invert max-w-none">
        {{ page.content|raw }}
    </div>

    {% if page.header.continue_link is same as(true) and config.plugins.comments.enabled %}
        {% include 'partials/comments.html.twig' %}
    {% endif %}
</div>

<p class="prev-next flex justify-between mt-8 text-center">
    {% if not page.isLast %}
            <a class="inline-block px-4 py-2 bg-gray-200 dark:bg-gray-700 text-gray-800 dark:text-gray-100 rounded hover:bg-gray-300 dark:hover:bg-gray-600 transition-colors" href="{{ page.prevSibling.url }}"><i class="fa-solid fa-angle-left"></i> {{ 'THEME_CHARM.BLOG.ITEM.PREV_POST'|t }}</a>
    {% endif %}

    {% if not page.isFirst %}
        <a class="bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-600 text-gray-700 dark:text-gray-200 py-2 px-4 rounded hover:bg-gray-100 dark:hover:bg-gray-700 transition duration-300" href="{{ page.url }}">{{ 'THEME_CHARM.BLOG.ITEM.CONTINUE_READING'|t }} <i class="fa-solid fa-angle-right"></i></a>
    {% endif %}
</p>
